.patreonLink {
  border: 2px solid var(--dark);
  border-radius: var(--borderRadius);
  box-sizing: content-box;
  padding: 0.5rem;
  color: var(--dark);
}

.patreonLink:hover {
  background-color: var(--dark);
  color: var(--light)
}

.remText {
  display: none;
}

@media (min-width:48em) {
  .remText {
    display: inline;
  }
}
