.spinnerContainer {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.spinnerContainer div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--primary);
  animation: spinnerContainer 1.2s linear infinite;
}

.spinnerContainer div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.spinnerContainer div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.spinnerContainer div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.spinnerContainer div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.spinnerContainer div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.spinnerContainer div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.spinnerContainer div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.spinnerContainer div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.spinnerContainer div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes spinnerContainer {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.simpleSpinner_container {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 50px auto;
}

.simpleSpinner_bounce1, .simpleSpinner_bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.simpleSpinner_bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
