.infoCardContainer {
  border-radius: var(--borderRadius);
  width: 100%;
}

.playlistDetailsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
}

.playlistCtas {
  display: flex;
  margin-top: 1.5rem;
}

.playlistAction {
  border: 0;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: var(--borderRadius);
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  background: var(--primary);
  color: var(--white);
}

.playlistAction:disabled {
  background: #b39ce3;
  cursor: not-allowed;
}

.playlistCtas > a {
  margin-right: 10px;
  background: var(--white);
  border: 1px solid #7960c3;
  color: var(--textColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlistMetadatum {
  font-size: 12px;
  line-height: 14px;
  color: var(--playlistMetaColor);
  margin: 3px 0;
  text-transform: capitalize;
}

.playlistDetails {
  margin-left: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.playlistTitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0;
  position: relative;
}

.playlistImage {
  height: 100%;
  width: 150px;
  object-fit: contain;
}

.loadMoreBtn {
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  outline: 0;
  border-radius: var(--borderRadius);
  margin: 10px 0;
  border: 0.5px dashed var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlistTrackContainer {
  min-height: 80px;
  padding: 10px;
  display: flex;
  border-bottom: 1px solid var(--lightBorder);
  justify-content: center;
  align-items: center;
}

.playlistTrackArt {
  height: 50px;
  width: 50px;
  border-radius: var(--borderRadius);
}

.playlistTrackInfoContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.audioPlayerContainer {
  border: 0;
  padding: 10px;
  cursor: pointer;
  background: none;
  outline: 0;
  width: 75px;
}

.audioPlayBtn {
  width: 50px;
  height: 100%;
}

.playButton {
  composes: audioPlayBtn;
}

.pauseButton {
  composes: audioPlayBtn;
}

.trackTitle {
  color: var(--dark);
  font-size: 14px;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
}

.trackArtiste {
  font-size: 12px;
}

.moreOptionsBtn {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 5px;
}

.modalContainer {
  width: 70vw;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contextBtn {
  cursor: pointer;
}

.platformSelect {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 0;
  color: var(--light);
  background: var(--primary);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2rem;
  border-radius: var(--borderRadius);
}

.platformSelect:disabled {
  background: var(--disabledCtaBg);
}

.loginBtn {
  margin: 1rem 0;
  width: 100%;
  padding: .8rem .5rem;
  border: none;
  background: var(--primary);
  color: var(--light);
  border-radius: var(--borderRadius);
}

.loginBtn:disabled {
  background: var(--disabledCtaBg);
}

.platformOption {
  position: relative;
  border-radius: .5rem;
  box-shadow: 0 0 transparent,
              0 0 transparent,
              0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
  padding: 1rem 1.25rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  border-width: 1px;
  border-style: solid;
}

.platformOption:not(:last-child) {
  margin-bottom: 1rem;
}

.checkedPlatformOption {
  color: var(--white);
  background: #220101;
}

.uncheckedPlatformOption {
  background: rgba(255, 255, 255, 1);
}

.clonePlaylistContainer {
  background: var(--white);
  width: 100%;
}

.radioGroupOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.checkIcon {
  width: 2rem;
}

.cloneSuccessSVG,
.cloneFailureSVG {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.cloneResponseSVGPath {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.cloneSuccessCirclePath {
  composes: cloneResponseSVGPath;
  -webkit-animation: dash .9s ease-in-out;
  animation: dash .9s ease-in-out;
}

.cloneSuccessCheckPath {
  composes: cloneResponseSVGPath;
  stroke-dashoffset: -100;
  -webkit-animation: dash-check .9s .35s ease-in-out forwards;
  animation: dash-check .9s .35s ease-in-out forwards;
}

.cloneFailureCirclePath {
  composes: cloneResponseSVGPath;
  -webkit-animation: dash .9s ease-in-out;
  animation: dash .9s ease-in-out;
}

.cloneFailureLinePath {
  composes: cloneResponseSVGPath;
  stroke-dashoffset: 1000;
  -webkit-animation: dash .9s .35s ease-in-out forwards;
  animation: dash .9s .35s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

.activePlatformName {
  font-weight: bold;
}

.platformName {
  text-transform: uppercase;
}

@media (min-width: 48em) {
}
