.parallaxContainer {
  height: 100vh;
  width: 100vw;
  border: 5px solid red;
}

.parallaxBackground {
  width: 100% !important;
  height: 100% !important;
}

.page {
  height: 100%;
  width: 100%;
}

.pageOne {
  composes: page;
  background-color: red;
}

.pageTwo {
  composes: page;
  background-color: black;
}

.pageThree {
  composes: page;
  background-color: beige;
}
