.faqContainer {
  flex: 1;
}

.faqHeader {
  text-align: center;
}

.unansweredQuestions {
  background: #6C39D8;
  border-radius: 12px;
  padding: 24px;
  margin: 20px 0;
  position: relative;
}

.unansweredQuestions * {
  color: var(--white);
}

.unasweredQuestionsHeader {
  font-size: 30px;
  margin: 0;
  margin-bottom: .83em;
}

.faqContactLinkGroup {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.faqContactLink {
  border: 4px solid var(--white);
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  width: 182px;
}

.faqMeshImageContainer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: soft-light;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.faqMeshImage {
  width: 100%;
  height: 100%;
}

.faqDescription {
  text-align: center;
  display: block;
  font-size: 13px;
}

.faqsContentContainer {
  position: relative;
}

.halfCircle {
  position: absolute;
  width: 250px;
  height: 115px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom: 0;
  background: linear-gradient(180deg, rgba(112, 63, 216, 0.5) 0%, rgba(223, 143, 162, 0.5) 100%);
  top: -83px;
  left: 45px;
  z-index: -1;
}

@media (min-width: 48em) {
  .faqMeshImageContainer {
    display: block;
  }
  .faqsContentContainer {
    padding: 10px 50px;
  }
  .faqContactLinkGroup {
    flex-direction: row;
    margin: 20px 0;
  }
  .faqContactLink:first-child {
    margin-right: 30px;
  }
  .faqDescription {
    font-size: 1rem;
  }
  .unansweredQuestions {
    padding: 40px;
  }

  .halfCircle {
    border-top-left-radius: 350px;
    border-top-right-radius: 350px;
    width: 700px;
    height: 309px;
    top: -120px;
    left: 300px;
  }

  .faqHeader {
    font-size: 64px;
  }
}
