.trackHeaderContainer {
  width: 100%;
  height: 70px;
  background: #F9F7FD;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--bodyPadding);
  margin-bottom: 10px;
}

.platformLink {
  text-decoration: underline;
  margin-top: 10px;
}

.searchInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trackInfoGroup {
  height: 95px;
  width: 100%;
  border: 1px solid rgba(90, 100, 121, 0.13);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trackImage {
  border-radius: 6px;
  width: 62px;
  height: 62px;
  background: var(--primary);
}

.trackInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.trackDetails {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.trackDetails span {
  color: var(--black);
  font-family: 'Space Grotesk';
}

.trackTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  font-family: 'Space Grotesk Bold' !important;
}

.trackArtiste {
  font-style: normal;
  font-size: 11px;
  line-height: 13px;
}

.genreYear span {
  color: #5A6479;
  font-size: 11px;
}

.trackFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}

.footerLinks {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trackFooter * {
  font-family: 'Space Grotesk';
}

.platformGroupContainer * {
  font-family: 'Space Grotesk';
}

.platformGroupHeader {
  font-size: 20px;
  line-height: 24px;
  color: var(--black);
  font-weight: 500;
  letter-spacing: -0.24px;
}

.platformGroupContainer {
  margin-top: 30px;
}

.platformGroup {
  margin: 30px 0;
}

.platformGroup * {
  font-family: 'Space Grotesk';
}

.platformName {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.platformIcon {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.infoCardIntroText {
  font-weight: 400;
}

.platformCardContainerBase {
  height: var(--platformCardHeight);
  width: 100%;
  padding: var(--platformCardPadding);
  border-radius: var(--platformBorderRadius);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  outline: 0;
  cursor: pointer;
  border: 1px solid #FFE9F4;
  box-shadow: 0px 4px 4px rgba(90, 100, 121, 0.05);
  background: none;
}

.annieCardContainer {
  composes: platformCardContainerBase;
  background: #F3EEFD;
}

.shareGroup {
  margin: 18px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.copyLinkBtn {
  composes: shareGroup;
  background: transparent;
  cursor: pointer;
  color: var(--black);
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  padding: 0;
}

.shareModalHeader {
  margin-bottom: 20px;
  padding: 0 10px;
}

.shareGroup > span {
  font-weight: 400;
}

.shareModalDescription {
  color: #111010;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height, or 127% */
  letter-spacing: -0.24px;
}

.platformIcon {
  width: 29.82px;
  height: 28.62px;
}

.searchIcon {
  width: 35px;
  height: 35px;
  margin: 10px;
}

.platformModalContainer {
  width: 80%;
  border: 1px solid #E8E8E8;
  width: 250px;
  min-height: 250px;
  padding: 10px 0;
}

@media (min-width: 48em) {
  .platformGroup {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .trackFooter {
    flex-direction: row;
  }
  .footerLinks {
    margin: 0;
    flex-direction: row;
  }
  .trackHeaderContainer {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  .platformLink {
    text-decoration: none;
    margin-top: 0;
  }
  .trackInfoGroup {
    width: 379px;
  }
}
