.howToUseContainer {
  position: relative;
  width: 100%;
  background: var(--primary2);
}

.howToUseContainer h2 {
  font-size: 2rem;
  width: 100%;
}

.phoneMockupContainer {
  width: 100%;
}

.phoneMockup {
  width: 100%;
}

.howToUseDescription {
  padding: 0 40px;
}

.howToUseDescription div {
  width: 90%;
  position: relative;
}

.howToUseDescription div:not(:last-child) {
  margin-bottom: 8rem;
}

.howToUseDescription dt {
  font-size: 1.5rem;
  color: var(--dark);
  margin-bottom: 10px;
}

.howToUseDescription dd {
  margin: 0;
  padding: 0;
  color: var(--descriptionText);
  opacity: 0.9;
  line-height: 150%;
}

.stepOne::before,
.stepTwo::before,
.stepThree::before {
  position: absolute;
  top: -20px;
  left: -20px;
}


.stepOne::before{
  content: url('/images/one.svg');
}

.stepTwo::before {
  content: url('/images/two.svg');
}

.stepThree::before {
  content: url('/images/three.svg');
}

@media (min-width:48em) {
  .howToUseContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
  }

  .howToUseDescription dt {
    font-size: 2rem;
  }

  .howToUseDescription dd {
    line-height: 150%;
    font-size: 1.5rem;
  }

  .howToUseDescription div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 70px 0;
  }

  .howToUseContainer h2 {
    text-align: center;
    font-size: 3.5rem;
  }

  .howToUseDescription {
    margin-top: 100px;
    width: 70%;
  }
}
