.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.homeHeader {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.014em;
}

.homeHeader span {
  display: inline;
}

.downloadSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.songLinkContainer, .songLink {
  width: 100%;
}

@media (min-width:48em) {
  .homeHeader span {
    display: block;
    font-size: 4rem;
  }
}
