.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.headerNav {
  padding: 0;
  margin: 0;
  margin-right: 21px;
}

.headerNav:hover {
  text-decoration: underline;
}

@media (min-width:48em) {
  .nav {
    flex-grow: 0;
  }

  .headerNav {
    margin-right: 56px;
  }
}
