.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.headerNav:hover {
  text-decoration: underline;
}

@media (min-width:48em) {
  .nav {
    flex-grow: 0;
  }
}
