.buttonContainer {
  background: var(--black);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  border-radius: var(--borderRadius);
  overflow: hidden;
  transition: background-color 1s 0.2s, transform .5s;
  width: 160px;
  height: 50px;
  cursor: pointer;
  outline: 0;
}

.buttonLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.downloadText {
  font-size: 0.7rem;
}

.storeName {
  font-size: 1rem;
}

.storeLogo {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  transition: transform 0.5s;
}

.betaLink {
  color: var(--primary);
  text-decoration: underline;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.socialMedia {
  display: block;
  margin-top: 15px;
}

.socialMediaLink {
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

@media (min-width:48em) {
  .buttonContainer {
    padding: 10px 20px;
    width: auto;
    height: auto;
    margin: 0 30px;
  }

  .buttonContainer:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    background-color: var(--light);
    border: 0;
  }

  .buttonContainer:hover svg {
    transform: scale(20);
  }

  .buttonContainer:hover .buttonLabel {
    color: var(--dark);
    z-index: 2;
    transform: translateX(-25px);
  }

  .downloadText {
    font-size: 0.8rem;
  }

  .storeName {
    font-size: 1.5rem;
  }

  .storeLogo {
    width: 35px;
    height: 35px;
  }
}
